{{- if .Values.secrets.create -}}
---
{{- if or .Values.secrets.kafka.username .Values.secrets.kafka.password }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "kafeventstore.kafkaSecretName" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "kafeventstore.labels" . | nindent 4 }}
type: Opaque
data:
  {{ .Values.secrets.kafka.usernameKey }}: {{ .Values.secrets.kafka.username | b64enc | quote }}
  {{ .Values.secrets.kafka.passwordKey }}: {{ .Values.secrets.kafka.password | b64enc | quote }}
{{- end }}

---
{{- if and (eq .Values.config.storage.backend "s3") (or .Values.secrets.aws.accessKeyId .Values.secrets.aws.secretAccessKey) }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "kafeventstore.awsSecretName" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "kafeventstore.labels" . | nindent 4 }}
type: Opaque
data:
  {{ .Values.secrets.aws.accessKeyIdKey }}: {{ .Values.secrets.aws.accessKeyId | b64enc | quote }}
  {{ .Values.secrets.aws.secretAccessKeyKey }}: {{ .Values.secrets.aws.secretAccessKey | b64enc | quote }}
{{- end }}

---
{{- if and (eq .Values.config.storage.backend "azure") .Values.secrets.azure.storageAccountKey }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "kafeventstore.azureSecretName" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "kafeventstore.labels" . | nindent 4 }}
type: Opaque
data:
  {{ .Values.secrets.azure.storageAccountKeyKey }}: {{ .Values.secrets.azure.storageAccountKey | b64enc | quote }}
{{- end }}

---
{{- if and (eq .Values.config.storage.backend "gcs") .Values.secrets.gcs.serviceAccountJson }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "kafeventstore.gcsSecretName" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "kafeventstore.labels" . | nindent 4 }}
type: Opaque
data:
  {{ .Values.secrets.gcs.serviceAccountJsonKey }}: {{ .Values.secrets.gcs.serviceAccountJson | b64enc | quote }}
{{- end }}
{{- end }}
